<div class="container">
    <div class="main-conatiner">
        <div class="d-flex justify-content-center align-item-center">
            <div class="monthlist">Monthly Employees</div>
        </div>
    </div>

    <div class="">
        <button class="btn" (click)="GoTomonthlyBudget()">Back</button>
    </div>

    <div class="fields-containt">
        <div>
            <div class="grid-container">
                <p><strong>Company:</strong> {{ PonumberDetials.CompanyName }}</p>
                <p><strong>Fiscal Year:</strong> {{ PonumberDetials.FiscalYearName }}</p>
                <p><strong>Project:</strong> {{ PonumberDetials.ProjectName }}</p>
                <p><strong>Hiring Manager:</strong> {{ PonumberDetials.HiringManager }}</p>
                <p><strong>PO Number:</strong> {{ PonumberDetials.PONumber }}</p>
                <p><strong>Type:</strong> {{ PonumberDetials.Type }}</p>
                <p><strong>BDM:</strong> {{ PonumberDetials.BDMName }}</p>
                <p><strong> Hours:</strong> {{PonumberDetials.Hours}} </p>
            </div>
        </div>

        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>PO Number</th>
                        <th>Employee Name</th>
                        <th>Month</th>
                        <th>Hours</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of employeeList; let i = index">
                        <td>{{ item.PONumber }}</td>
                        <td>{{ item.EmployeeName }}</td>

                        <td>{{ item.MonthName }}</td>

                        <td *ngIf="item.Hours === null" ><input type="text" name="" id="" [(ngModel)]="item.Hours"></td>
                        <td *ngIf="item.Hours !== null">{{item.Hours}}</td>

                        <!-- <td>
                            <a *ngIf="editingIndex !== i">Save </a>
                            <a *ngIf="editingIndex !== i">Edit </a>
                            <a *ngIf="editingIndex !== i" >Delete </a>
                            <a *ngIf="editingIndex === i" >Update </a>
                            <a *ngIf="editingIndex === i" >Cancel</a>
                        </td> -->
                    </tr>
                    <tr *ngIf="totalInvoicedAmount >0">
                        <td></td>
                        <td style="font-weight: bold;"></td>
                        <td style="font-weight: bold;">Total Hours</td>
                        <td style="font-weight: bold;">{{ totalInvoicedAmount}} hrs</td>
                    </tr>
                </tbody>


            </table>
            <div>
                <button class="btn-update btn" (click)="AddMonthlyEmployeesList()"> Save</button>
            </div>
        </div>
    </div>
</div>