<div class="container">
    <div class="main-container row">
        <!-- <div> -->

        <div class="headers">
            <img src="./../../../../../assets/Images/Screenshot 2024-12-13 110505.png" alt="" class="logo">

            <!-- <div class="header-display"> -->
            <div class="dropdown">
                <button class="btn focus-ring-0 border-0" type="button" aria-expanded="false">
                    HOME
                </button>
            </div>
            

            <div class="dropdown">
                <button class="btn dropdown-toggle focus-ring-0 border-0"  type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    REQUIREMENTS
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Experence</a></li>
                    <li><a class="dropdown-item">Personalize</a></li>
                    <li><a class="dropdown-item">Change Password</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle focus-ring-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    RESUMES
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Experence</a></li>
                    <li><a class="dropdown-item">Personalize</a></li>
                    <li><a class="dropdown-item">Change Password</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle focus-ring-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    INTERVIEWS
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Experence</a></li>
                    <li><a class="dropdown-item">Personalize</a></li>
                    <li><a class="dropdown-item">Change Password</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle focus-ring-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    EMPLOYEES
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="navigateToAddEmployee()">Add Employee</a></li>
                    <li><a class="dropdown-item">Personalize</a></li>
                    <li><a class="dropdown-item">Change Password</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn focus-ring-0 border-0" type="button" aria-expanded="false">
                    ONBOARDING
                </button>
            </div>

            <div class="dropdown">
                <button class="btn focus-ring-0 border-0" type="button" aria-expanded="false">
                    ONBENCH
                </button>
            </div>





            <div class="dropdown">
                <button class="btn dropdown-toggle focus-ring-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    BILLING
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/billingData']"
                            [routerLinkActive]="['routerLinkActive']">Billing Data</a></li>
                    <li><a class="dropdown-item">Personalize</a></li>
                    <li><a class="dropdown-item">Change Password</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn  focus-ring-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    EXPERENCE
                </button>
            </div>


            <div class="dropdown">
                <button class="btn dropdown-toggle focus-ring-0 border-0" [ngClass]="{'active-color': isActive}" (click)="colorChange()" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-user"></i> {{UseName}}
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">View Profile</a></li>
                    <li><a class="dropdown-item">Personalize</a></li>
                    <li><a class="dropdown-item">Change Password</a></li>
                    <li><a class="dropdown-item">Add User</a></li>
                    <li><a class="dropdown-item">View Users</a></li>
                    <li><a class="dropdown-item" (click)="navigateToManage()">Manage</a></li>
                    <li><a class="dropdown-item highlight">Audit Log</a></li>
                    <li><a href="#" class="dropdown-item">Sign Out</a></li>
                </ul>
            </div>
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
</div>