<div class="container">
    <div class="main-conatiner">
        <div class="d-flex justify-content-start align-item-center">
            <div class="monthlyBudget">Manage</div>
        </div>
    </div>

    <div>
        <ul class="manage-list">
          <li><a (click)="navigateToManageRole()">Manage Role Names</a></li>
          <li><a (click)="navigateToManageVendor()">Manage Vendors List</a></li>
          <li><a (click)="navigateToManageClient()">Manage Clients List</a></li>
          <li><a (click)="navigateToManageProject()">Manage Projects</a></li>
          <li><a>Manage Email Credentials</a></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
      
</div>